h1 {
  font-family: "Russo One", monospace;
}

body {
  text-align: center;
  font-family: "Righteous", monospace;
  background-color: #DEE1DD;
}

.inputs {
  border: 3px solid black;
  border-radius: 15%;
  background-color: #DEEEEF;
}

.calculations {
  line-height: 3;
}

p {
  line-height: .25;
  color: black;
}

.gauge {
  line-height: 1;
}

.note {
  font-size: .9rem;
}

hr {
  width: 50%;
  border: double;
  border-top: 1px dashed;
  border-bottom: 1px dashed;
  opacity: .05;
}

#button {
  background-color: #DEE;
  border-radius: 40%;
  border: 10px solid black;
  font-family: "Russo One";
  font-size: 2rem;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, .2);
}

#button:hover {
  background-color: white;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, .5);
}

span {
  font-size: 4rem;
}

#pressResetMsg {
  font-size: 1rem;
  color: white;
  display: none;
}

#reset {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  font-family: "Righteous", monospace;
  font-size: 20px;
  background-color: #DEE;
  border: 5px solid black;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .5);
}

#reset:hover {
  transform: scale(-1, 1);
  background-color: #DED;
}



#girl {
  width: 125px;
  margin: 0;
  display: none;
  right: 35%;
  position: absolute;
  z-index: -1;
}

#caliperGuy {
  width: 400px;
  right: 30%;
  margin: auto;
  position: absolute;
  z-index: -1;
}

#spiderman {
  width: 125px;
  display: none;
  position: absolute;
  left: 38%;
  border-radius: 10%;
}

#pointingGuy {
  width: 75px;
  display: none;
  float: right;
}

#disappointGuy {
  width: 125px;
  display: none;
  position: absolute;
  right: 40%;
  z-index: -1;
  border-radius: 32%;
}

footer {
  font-size: .75rem;
  color: gray;
  margin-top: 250px;
  opacity: .3;
}
