
h1 {
  font-family: "Fascinate", monospace;
 }

body {
  text-align: center;
  font-family: "Architects Daughter", monospace;
  background-color: #DEE1DD;
}

.inputs {
  border: 3px solid black;
  border-radius: 15%;
  background-color: #DEEEEF;
}

.calculations {
  line-height: 3;
}
p {
  line-height: .25;
  color: black;
}

.note {
  font-size: .9rem;
}

hr {
  width: 50%;
  border: double;
  border-top: 1px dashed;
  border-bottom: 1px dashed;
  opacity: .05;

  }
#button {
  background-color: #DEE;
  border-radius: 20%;
  width: 150px;
  height: 50px;
  border: 5px solid black;
  font-family: "Fascinate";
  font-size: 2rem;
  box-shadow: 5px 5px 5px 1px rgba(0,0,0,.2);
}
#button:hover {
  background-color: white;
 box-shadow: 5px 5px 5px 1px rgba(0,0,0,.5);
}
span {
  font-size: 4rem;

}

#reset {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  font-family: "Architects Daughter", monospace;
  font-size: 20px;
  background-color: #DEE;
  border: 5px solid black;
  box-shadow: 2px 2px 2px 1px rgba(0,0,0,.5);
}
#reset:hover {
  transform: scale(-1, 1);
  background-color: #DED;
}
#girl {
  width: 5%;
  margin: 0;
  display: none;

}
#caliperGuy {
  width: 10%;
}

#drake {
  width: 10%;
  display: none;
}

footer {
  font-size: .75rem;
  color: gray;
  margin-top: 250px;
}
